@tailwind base;
@tailwind components;
@tailwind utilities;

button:active {
  scale: 98%;
}

.my-container {
  @apply w-[95%] lg:w-[90%] mx-auto;
}

select {
  field-sizing: content;
  background-color: transparent;
}

.hide-scrollbar {
  scrollbar-width: 7px;
  /* -ms-overflow-style: none; */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.hide-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(220, 220, 220, 0.776);
  border-radius: 10px;
}

.checkmark-animation {
  animation-name: checkmarkAnimate;
  animation-duration: 500ms;
}

@keyframes checkmarkAnimate {
  0% {
    transform: scale(70%);
  }
  70% {
    transform: scale(120%);
  }
  100% {
    transform: scale(100%);
  }
}
